<!DOCTYPE html>
<html lang="en">
  <%- include("_head") %>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-row">
          <div class="nav-content">
            <div class="nav-item">
              <a href="admin-users" class="nav-link">Users</a>
            </div>
            <div class="nav-item">
              <a href="admin-services" class="nav-link admin-services-active"
                >Services</a
              >
            </div>
            <div class="nav-item">
              <a href="admin-trucks" class="nav-link">Trucks</a>
            </div>
            <div class="nav-item">
              <a href="admin-articles" class="nav-link">Articles</a>
            </div>
            <div class="nav-item">
              <a href="admin-contacts" class="nav-link">Contacts</a>
            </div>
          </div>
          <div class="menu-bg">
            <p class="menu"><span></span></p>
          </div>
        </div>
      </div>
    </nav>
    <section class="section services">
      <div class="container">
        <div class="section-head">
          <div class="title">Services</div>
          <div class="add-bttn bttn">Add service</div>
        </div>
        <div
          class="form-wrapper form-wrapper-service form-add"
          id="form-service-add"
        >
          <form class="form">
            <div class="form-title title">Add service</div>
            <div class="form-input-wrapper">
              <label for="name-service-add" class="label-name label">
                Name:
              </label>
              <input
                id="name-service-add"
                type="text"
                name="name"
                class="input input-name req-input req"
              />
            </div>
            <div class="form-input-wrapper">
              <label for="image-service-add" class="label-img label">
                Img:
              </label>
              <input
                id="image-service-add"
                type="file"
                name="image"
                class="input input-img req-input req"
                accept="image/*"
              />
            </div>
            <div class="form-input-wrapper">
              <label for="description-service-add" class="label-created label">
                Service description:
              </label>
              <textarea
                id="description-service-add"
                name="description"
                class="input input-description textarea textarea-add req-textarea req"
              ></textarea>
            </div>
            <div class="form-input-wrapper">
              <label for="checks-service-add" class="label-checks label">
                Checks on the service page:
              </label>
              <textarea
                id="checks-service-add"
                name="checks"
                class="input input-checks textarea textarea-add req-textarea req"
              ></textarea>
            </div>
            <div class="form-input-wrapper">
              <label for="text-service-add" class="label-text label"
                >Text on the service page:</label
              ><textarea
                id="text-service-add"
                name="text"
                class="input input-text textarea textarea-add req-textarea req"
              ></textarea>
            </div>
            <div class="form-input-wrapper">
              <label for="content-service-add" class="label-content label">
                Content on the service page:
              </label>
              <textarea
                id="content-service-add"
                class="input input-content textarea textarea-add req-textarea req"
                name="content"
              ></textarea>
            </div>
            <div class="form-btns-row">
              <button type="submit" class="bttn">Add</button>
              <div class="form-cancel bttn">Cancel</div>
            </div>
            <div class="status"><p class="status-text"></p></div>
          </form>
        </div>
        <div class="services-row">
          <% if (services) { services.forEach(function(service) { %>
          <div class="services-col column" id="<%= service.id %>">
            <div class="services-col-bg"></div>
            <div class="option-wrapper">
              <div class="option-bg"></div>
              <div class="option">
                <div class="option-icon-open-close">
                  <span class="icon-dots-three-vertical option-icon"></span>
                  <span class="icon-plus option-close"></span>
                </div>
                <div class="option-content">
                  <div class="option-item-wrapper option-edit-wrapper">
                    <span class="icon-edit-3"></span>
                    <div class="option-edit">Edit</div>
                  </div>
                  <div class="option-item-wrapper option-delete-wrapper">
                    <span class="icon-delete option-delete"></span>
                    <div class="option-delete">Delete</div>
                  </div>
                </div>
              </div>
              <div
                class="form-wrapper form-wrapper-service form-put"
                id="form-<%- service.url %>-put"
              >
                <form class="form">
                  <div class="form-title title">Edit service</div>
                  <div class="form-input-wrapper form-input-wrapper-id">
                    <label for="id-service-put" class="label-id label">
                      Id:
                    </label>
                    <input
                      id="id-service-put"
                      type="text"
                      name="id"
                      class="input input-id input-id-put req"
                      value="<%- service.id %>"
                    />
                  </div>
                  <div class="form-input-wrapper">
                    <label for="name-service-put" class="label-name label">
                      Name:
                    </label>
                    <input
                      id="name-service-put"
                      type="text"
                      name="name"
                      class="input input-name req"
                      value="<%- service.name %>"
                    />
                  </div>
                  <div class="form-input-wrapper">
                    <label for="image-service-put" class="label-img label">
                      Img:
                    </label>
                    <input
                      id="image-service-put"
                      type="file"
                      name="image"
                      class="input input-img req"
                      accept="image/*"
                    />
                  </div>
                  <div class="form-input-wrapper">
                    <label
                      for="description-service-put"
                      class="label-created label"
                    >
                      Service description:
                    </label>
                    <textarea
                      id="description-service-put"
                      name="description"
                      class="input input-description textarea req"
                    >
                  <%- service.description %>
                  </textarea
                    >
                  </div>
                  <div class="form-input-wrapper">
                    <label for="checks-service-put" class="label-checks label">
                      Checks on the service page:
                    </label>
                    <textarea
                      id="checks-service-put"
                      name="checks"
                      class="input input-checks textarea req"
                    >
                  <%- service.checks %>
                  </textarea
                    >
                  </div>
                  <div class="form-input-wrapper">
                    <label for="text-service-put" class="label-text label">
                      Text on the service page:
                    </label>
                    <textarea
                      id="text-service-put"
                      name="text"
                      class="input input-text textarea req"
                    >
                  <%- service.text %>
                  </textarea
                    >
                  </div>
                  <div class="form-input-wrapper">
                    <label
                      for="content-service-put"
                      class="label-content label"
                    >
                      Content on the service page:
                    </label>
                    <textarea
                      id="content-service-put"
                      class="input input-content textarea req"
                      name="content"
                    >
                  <%- service.content %>
                  </textarea
                    >
                  </div>
                  <div class="form-btns-row">
                    <button type="submit" class="bttn">Save</button>
                    <div class="form-cancel bttn">Cancel</div>
                  </div>
                  <div class="status"><p class="status-text"></p></div>
                </form>
              </div>
              <div class="popup-wrapper">
                <div class="popup">
                  <div class="popup-title">Delete service</div>
                  <div class="popup-user"><%= service.name %></div>
                  <div class="popup-question">
                    Are you sure you want to delete this service?
                  </div>
                  <div class="popup-row">
                    <div class="popup-text popup-cancel">
                      <span>CANCEL</span>
                    </div>
                    <div class="popup-text popup-delete">
                      <span>DELETE</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="services-col-img">
              <img src="/images/<%= service.image %>" alt="" />
            </div>
            <div class="services-col-content">
              <div class="services-col-name name-service">
                <%- service.name %>
              </div>
              <div class="services-col-desc"><%- service.description %></div>
              <a href="/services/<%= service.url %>" class="title-more">
                <p>Read more</p>
                <div class="title-more-icons">
                  <span class="icon-plus title-more-icon title-icon-plus">
                  </span>
                  <span class="icon-minuse title-more-icon"></span>
                </div>
              </a>
            </div>
          </div>
          <% })}; %>
        </div>
      </div>
    </section>
    <!-- <script src="/summernote/jquery-3.6.4.slim.min.js"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.slim.min.js"
      integrity="sha512-fYjSocDD6ctuQ1QGIo9+Nn9Oc4mfau2IiE8Ki1FyMV4OcESUt81FMqmhsZe9zWZ6g6NdczrEMAos1GlLLAipWg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- <script src="/summernote/summernote-lite.min.js"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"
      integrity="sha512-lVkQNgKabKsM1DA/qbhJRFQU8TuwkLF2vSN3iU/c7+iayKs08Y8GXqfFxxTZr1IcpMovXnf2N/ZZoMgmZep1YQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/scriptSummernote.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/adminPopup.js"></script>
    <script src="/js/trucks.js"></script>
    <script src="/js/adminServices.js"></script>
  </body>
</html>
