<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/meta') %>
    <title>Contact us</title>

    <%- include('include/links', {fileCss: "contact-us"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: "contact-us", page: `Contact
    us`, navPageMore: false}) %>

    <main id="contact-us" class="main main-contact-us">
      <section class="contact section">
        <div class="container">
          <div class="contact-title title">Contact us</div>
          <div class="contact-row">
            <div class="contact-description">
              <div class="contact-text">
                YOUR CONVENIENCE
                <br />
                IS OUR #1 PRIORITY
              </div>
              <div class="contact-office">Head Office</div>
              <div class="contact-office-exact">
                LOGITY DISPATCH
                <br />
                <%- contacts.location %>
              </div>
              <div class="contact-phone">Phone</div>
              <div class="contact-phone-exact">
                <a href="#a"><%- contacts.tel %></a>
              </div>
              <div class="contact-email">Email</div>
              <div class="contact-email-exact">
                <a href="#a"><%- contacts.email %></a>
              </div>
            </div>
            <%- include("include/_form") %>
          </div>
        </div>
      </section>
    </main>

    <%- include("include/footer") %>
    <script src="/js/script.js"></script>
    <script src="/js/form.js"></script>
    <script type="module" src="/js/faqQuestions.js"></script>
  </body>
</html>
