<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/meta') %>
    <title>FAQ</title>

    <%- include('include/links', {fileCss: "faq"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: "faq", page: "FAQ",
    navPageMore: false}) %>

    <main id="faq" class="main main-faq"><%- include("include/_faq") %></main>

    <%- include("include/footer") %>

    <script type="module" src="/js/faqQuestions.js"></script>
  </body>
</html>
