<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/icons.css" />
    <title>logical dispatch</title>
  </head>
  <body>
    <header class="header">
      <div class="phone">
        <span class="icon-phone"></span>
      </div>
      <div class="massage">
        <span class="icon-message"></span>
      </div>
      <img class="header-img" src="/img/main/header/header-bg.jpg" alt="img" />
      <%- include("include/_nav") %>
      <div class="header-main">
        <div class="container">
          <div class="header-row">
            <div class="header-column header-column-left">
              <div class="header-title">
                Freight <br />
                Dispatch <br />
                Service
              </div>
              <div class="header-number">
                <a class="header-contact-link btn" href="#a">
                  <span><%- contacts.tel %></span>
                </a>
              </div>
            </div>
            <div class="form-wrapper header-column-right">
              <%- include("include/_form") %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="navigation-wrapper">
        <div class="container">
          <div class="navigation">
            <div class="navigation-item">Home</div>
          </div>
        </div>
      </div>
      <section class="services section">
        <div class="container">
          <div class="title-top">
            <div class="services-title title">
              <a href="/services">
                Services
                <br />
                and pricing
              </a>
            </div>
            <div class="services-sale">
              <a href="#a">
                From 5%
                <br />
                of gross
              </a>
            </div>
          </div>
          <div class="services-row">
            <% services.forEach((service) => { %>
            <a href="/services/<%= service.url %>" class="services-col">
              <div class="back-img">
                <img
                  src="/img/backgrounds/bg-<%= service.image %>.jpg"
                  alt="img"
                />
              </div>
              <div class="services-col-content">
                <div class="services-col-number"><%= service.id %></div>
                <div class="services-col-text"><%= service.name %></div>
              </div>
              <div class="services-col-add">+</div>
              <div class="services-col-less">
                <span class="icon-chevron-thin-right services-col-icon"></span>
              </div>
            </a>
            <% }) %>
          </div>
        </div>
      </section>
      <%- include("include/_what") %>
      <section class="stat section">
        <div class="container">
          <a href="/services" class="stat-title title">
            To work<br />
            not talk
          </a>
          <div class="stat-row">
            <div class="stat-col">
              <div class="stat-icon"><span class="icon-truck"></span></div>
              <div class="stat-count">5 000+</div>
              <div class="stat-text">Loads Booked</div>
            </div>
            <div class="stat-col">
              <div class="stat-icon"><span class="icon-database"></span></div>
              <div class="stat-count">$7 500+</div>
              <div class="stat-text">Average Gross Revenue</div>
            </div>
            <div class="stat-col">
              <div class="stat-icon"><span class="icon-clipboard"></span></div>
              <div class="stat-count">58</div>
              <div class="stat-text">Mln Lbs Dispatched</div>
            </div>
          </div>
        </div>
      </section>
      <%- include("include/_how") %> <%- include("include/_can") %> <%-
      include("include/_reviews") %> <%- include("include/_blog") %>
    </main>

    <%- include("include/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/form.js"></script>
  </body>
</html>
