<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/meta') %>
    <title>Our Services</title>
    <%- include('include/links', {fileCss: "services"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: 'services', page:
    "Services", navPageMore: false}) %>

    <main id="services" class="main main-services">
      <section class="section services">
        <div class="container">
          <div class="title prog-title">Our Services</div>
          <div class="services-row">
            <% services.forEach(function(service) { %>
            <div class="services-col" id="<%= service.id %>">
              <div class="services-col-img">
                <img src="/images/<%= service.image %>" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-name name-service">
                  <%= service.name %>
                </div>
                <div class="services-col-desc"><%- service.description %></div>
                <a href="/services/<%= service.url %>" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </section>
    </main>

    <%- include("include/footer") %>

    <script src="/js/script.js"></script>
    <script src="/js/trucks.js"></script>
  </body>
</html>
