<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trucks</title>

    <%- include('include/links', {fileCss: "services"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: 'trucks', page: "Trucks",
    navPageMore: false}) %>

    <main id="trucks" class="main main-trucks">
      <section class="section services">
        <div class="container">
          <div class="title prog-title">Truck types</div>
          <div class="services-row">
            <% trucks.forEach(function(truck) { %>
            <div class="services-col">
              <div class="services-col-img">
                <img src="/img/trucks/<%= truck.image %>.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-name"><%= truck.name %></div>
                <%- truck.description %>
                <a href="/trucks/<%= truck.url %>" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <% }); %>
            <!-- <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-name">Step Deck</div>
                <div class="services-col-desc">
                  It is a big responsibility to transport oversize and
                  over-height cargo, never mind having to jump through
                  logistical and organizational hoops to keep your business
                  afloat.
                  <br />
                  We got your back on looking for and assessing prospective
                  loads, haggling over prices and rates, generating and
                  completing all the paperwork required by regulations and
                  industry practices.
                </div>
                <a href="/step-deck" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/trucks/img2.jpg" alt="" />
              </div>
            </div> -->
            <!-- <div class="services-col">
              <div class="services-col-img">
                <img src="/img/trucks/img3.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-name">Reefer</div>
                <div class="services-col-desc">
                  You and your reefer truck are already providing an excellent
                  service to your customers. But, to continue offering this
                  level of service, you need a dispatcher you can rely on — one
                  with the right attitude to your business and a range of
                  streamlined, stress-free processes that keep your operation
                  moving.
                </div>
                <a href="/reefer" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div> -->
            <!-- <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-name">Flatbed</div>
                <div class="services-col-desc">
                  Your flatbed truck is a heavy-duty vehicle. As such, it
                  supports our economy in ways that other vehicles simply
                  cannot.
                  <br />
                  Here at Logity Dispatch, we want to be your partner, providing
                  you with the dispatch services you need to connect you and
                  your flatbed with the clients who will benefit the most.
                </div>
                <a href="/flatbed" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/trucks/img4.jpg" alt="" />
              </div>
            </div> -->
            <!-- <div class="services-col">
              <div class="services-col-img">
                <img src="/img/trucks/img5.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-name">Power Only</div>
                <div class="services-col-desc">
                  Since 2015, Logity Dispatch has provided power only dispatch
                  service to owner-operators and truck fleets. Our team makes it
                  easy to match power-only loads to independent owners and truck
                  fleets any time you need to move equipment on a flatbed
                  trailer, dry van trailer, refrigerated van, shipping
                  container, or tanker trailers. We can find the best power only
                  trucks solution to fit any transport situation.
                </div>
                <a href="/power-only" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div> -->
            <!-- <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-name">Hotshot</div>
                <div class="services-col-desc">
                  A lot of people outside the trucking industry have no idea
                  what goes into getting their equipment, appliances, and
                  materials to them. At Logity Dispatch, we know that hotshot
                  drivers like you are really the "minutemen" of trucking,
                  delivering loads to where they need to be on time. That's why
                  we offer top-notch hotshot dispatch services that can make all
                  the difference when it comes to the bottom line for your
                  hotshot trucking business.
                </div>
                <a href="/hotshot" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/trucks/img6.jpg" alt="" />
              </div>
            </div> -->
            <!-- <div class="services-col">
              <div class="services-col-img">
                <img src="/img/trucks/img7.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-name">Box Truck</div>
                <div class="services-col-desc">
                  A box trucking business takes advantage of the versatility and
                  freedom to run loads without much downtime and without needing
                  to obtain a commercial driver's license.
                </div>
                <a href="/box-truck" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div> -->
            <!-- <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-name">Straight Truck</div>
                <div class="services-col-desc">
                  A lot of people outside the trucking industry have no idea
                  what goes into getting their equipment, appliances, and
                  materials to them. At Logity Dispatch, we know that hotshot
                  drivers like you are really the "minutemen" of trucking,
                  delivering loads to where they need to be on time. That's why
                  we offer top-notch hotshot dispatch services that can make all
                  the difference when it comes to the bottom line for your
                  hotshot trucking business.
                </div>
                <a href="/straight-truck" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/trucks/img8.jpg" alt="" />
              </div>
            </div> -->
          </div>
        </div>
      </section>
    </main>

    <%- include("include/footer") %>
    <script src="/js/trucks.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
