<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/meta') %>
    <title>Trucks</title>

    <%- include('include/links', {fileCss: "services"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: 'trucks', page: "Trucks",
    navPageMore: false}) %>

    <main id="trucks" class="main main-trucks">
      <section class="section services">
        <div class="container">
          <div class="title prog-title">Truck types</div>
          <div class="services-row">
            <% if (trucks) { trucks.forEach(function(truck) { %>
            <div class="services-col" id="<%= truck.id %>">
              <div class="services-col-img">
                <img src="/images/<%- truck.image %>" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-name"><%= truck.name %></div>
                <div class="services-col-desc"><%- truck.description %></div>
                <a href="/trucks/<%= truck.url %>" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <% })}; %>
          </div>
        </div>
      </section>
    </main>

    <%- include("include/footer") %>
    <script src="/js/trucks.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
