<nav class="nav">
  <div class="container">
    <div class="nav-row">
      <div class="logo">
        <a href="/" class="logo-link">
          <img src="/img/main/header/logo.svg" alt="" />
        </a>
      </div>
      <div class="nav-content">
        <div class="nav-item">
          <a href="/about" class="nav-link">
            <span class="nav-text">About</span>
          </a>
          <div class="nav-subcontent">
            <a href="/careers" class="nav-subcontent-item">Careers</a>
            <a href="/stories" class="nav-subcontent-item">Success Stories</a>
            <a href="/testimonials" class="nav-subcontent-item">Testimonials</a>
            <a href="/program" class="nav-subcontent-item">Referral Program</a>
            <a href="/blog" class="nav-subcontent-item">Blog</a>
            <a href="/video" class="nav-subcontent-item">Videos</a>
          </div>
        </div>
        <div class="nav-item">
          <a href="/services" class="nav-link">
            <span class="nav-text">Services</span>
          </a>
          <div class="nav-subcontent">
            <% services.forEach(function(service) { %>
            <a
              href="/services/<%= service.url %>"
              class="nav-subcontent-item"
              id="<%= service.url %>"
              ><%= service.name %></a
            >
            <% }); %>
          </div>
        </div>
        <div class="nav-item">
          <a href="/trucks" class="nav-link">
            <span class="nav-text">Truck types</span>
          </a>
          <div class="nav-subcontent">
            <% trucks.forEach(function(truck) { %>
            <a
              href="/trucks/<%= truck.url %>"
              class="nav-subcontent-item"
              id="<%= truck.url %>"
              ><%= truck.name %></a
            >
            <% }); %>
          </div>
        </div>
        <div class="nav-item">
          <a href="/how-to-start" class="nav-link">
            <span class="nav-text">How to start</span>
          </a>
        </div>
        <div class="nav-item">
          <a href="/shippers" class="nav-link">
            <span class="nav-text">Shippers</span>
          </a>
        </div>
        <div class="nav-item">
          <a href="/faq" class="nav-link">
            <span class="nav-text">FAQ</span>
          </a>
        </div>
        <div class="nav-item">
          <a href="/contact-us" class="nav-link">
            <span class="nav-text">Contact us</span>
          </a>
        </div>
      </div>
      <div class="nav-contact">
        <a class="nav-contact-link" href="#a">
          <span><%= contacts.tel %></span>
        </a>
      </div>
      <div class="menu-bg">
        <p class="menu"><span></span></p>
      </div>
    </div>
  </div>
</nav>
