<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (article) { article.forEach(function(item) { %>
    <title><%= item.name %></title>
    <% })}; %> <%- include('../../include/links', {fileCss: "blog-following"})
    %>
  </head>
  <body>
    <% if (article) { article.forEach(function(item) { %>
    <header class="header">
      <div class="phone">
        <span class="icon-phone"></span>
      </div>
      <div class="massage">
        <span class="icon-message"></span>
      </div>
      <img class="header-img" src="/img/backgrounds/bg-about.jpg" alt="" />
      <%- include("../../include/_nav") %>
      <div class="navigation-wrapper">
        <div class="container">
          <div class="navigation">
            <a href="/" class="navigation-item navigation-item-home">Home</a>

            <span class="icon-chevrons-right"></span>
            <a href="/blog" class="navigation-item">Blog</a>

            <span class="icon-chevrons-right"></span>
            <div
              id="navigation-item-active"
              class="navigation-item navigation-item-about"
            >
              <%= item.name %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="all-about-ifta-report" class="main main-all-about-ifta-report">
      <section class="section all-about-ifta-report">
        <div class="container">
          <div class="title"><%= item.name %></div>
          <div class="row">
            <div class="text"><%- item.content %></div>
            <% })}; %>
            <div class="right-articles">
              <div class="articles-title">Popular articles</div>
              <% if (articles) { articles.forEach(function(article) { %>
              <a href="<%= article.url %>" class="article">
                <img src="/images/<%= article.image %>" alt="" />
                <div class="article-name"><%= article.name %></div>
              </a>
              <% })}; %>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../../include/footer") %>
    <script src="/js/script.js"></script>
  </body>
</html>
