<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <%- include('../include/links', {fileCss: "blog"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: "blog", page: "Blog",
    navPageMore: true, navPageLink: "about", navPage: "About" }) %>

    <main id="about-more" class="main main-blog">
      <section class="section blog">
        <div class="container">
          <div class="blog-title title">Blog</div>
          <div class="blog-writers">
            <div class="writers-title">Check out our top writers:</div>
            <div class="writers">
              <a href="#a" class="writer">
                <img src="/img/blog/writer1.jpg" alt="" />
                <div class="writer-name">
                  Ivan <br />
                  Kovdryn
                </div>
              </a>
              <a href="#a" class="writer">
                <img src="/img/blog/writer2.jfif" alt="" />
                <div class="writer-name">
                  Taras <br />
                  Korzhak
                </div>
              </a>
            </div>
          </div>
          <div class="blog-row-wrapper swiper-container">
            <div class="blog-row swiper-wrapper">
              <div class="blog-slide swiper-slide">
                <% articles.forEach(function(article) { %>
                <a href="/blog/<%= article.url %>" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/images/<%- article.image %>"
                    alt="img"
                  />
                  <div class="blog-col-text"><%= article.name %></div>
                  <div class="blog-col-subtext">
                    <%= article.when_created %>
                  </div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <% }); %>
              </div>
              <div class="blog-slide swiper-slide"></div>
            </div>
            <div class="swiper-pagination blog-pagination"></div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../include/footer") %>
    <script src="/js/script.js"></script>
  </body>
</html>
