<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Box Truck</title>
    <link rel="stylesheet" href="/css/truck.css" />
    <%- include('../include/links', {fileCss: "services-following"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'truck', page: `Box
    Truck`, navPageMore: true, navPageLink: "trucks", navPage: "Trucks"}) %>

    <main id="trucks-more" class="main main-boxTruck">
      <section class="dispatch">
        <div class="container">
          <%- include('_dispatch-row', {title: `Box Truck`}) %>
          <div class="truck-row">
            <div class="truck-img">
              <img src="/img/trucks/img7.jpg" alt="" />
            </div>
            <div class="truck-text">
              <h2>Boxtruck Dispatch</h2>
              <br />
              <p>
                A box trucking business takes advantage of the versatility and
                freedom to run loads without much downtime and without needing
                to obtain a commercial driver’s license. The keys to success are
                the ability to find the most profitable loads, a knack for
                coordinating trips, and a proficiency to stay on top of the
                endless paperwork. For many small and medium box truck
                businesses, this feels like a neverending juggling act that
                doesn’t pay off as much as it can. For your business, Logity’s
                box truck dispatch service may be one of the best decisions you
                make for your bottom line.
              </p>
            </div>
          </div>
          <div class="truck-text">
            <h2>Honest Box Truck Dispatching</h2>
            <br />
            <p>
              Many box truck businesses have told us that one of the reasons
              truckers may not trust box truck dispatch services is because it
              can be hard to know whether they are getting the straight goods.
              Maybe they have felt taken in by a dispatch service’s pitch only
              to find themselves still struggling. Others didn’t realize they
              had agreed to take any load the service offered to them. There’s a
              reason all these businesses rely on Logity Dispatch.
            </p>
            <br />
            <h3>
              Saving You Time, Money, and Hassle for Your Box Truck Business
            </h3>
            <br />
            <p>
              When we started Logity Dispatch in 2015, we made a few things
              clear.
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                We would never force clients to accept loads.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                We would always give clients the unadorned truth and reasonable
                expectations.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                We would work hard to find the most lucrative loads and
                negotiate for the best prices.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                We would support our clients by taking on any and all the
                different tasks that prevented them from concentrating on their
                most important function: making deliveries smartly and on time.
              </li>
            </ul>
            <br />
            <p>
              Clients benefit the most with our comprehensive services –
              dispatch, document management, IFTA, Safety and DOT compliance,
              Broker and Shipper Communications, and Online TMS. At Logity
              Dispatch, however, we trust our clients to know what they need and
              what they don’t need. For this reason, you can hire us to do
              everything, a few things, or just one thing – whatever you feel
              will allow you to run your business your way.
            </p>
            <br />
            <p>
              Of course, Logity is happy to get to know you and your business
              and to help you assess how we could best support your operations.
              Together, we can increase your productivity and profitability,
              while helping you to grow and expand your box truck business, one
              well-negotiated load at a time.
            </p>
            <br />
            <p>
              <a href="#a">Contact us</a> today and find out how quickly you can
              optimize your operations with our box truck dispatching service
              and other offers and get more money for what you do.
            </p>
            <div class="absec-btns">
              <a href="#a" class="absec-contact">Contact Us</a>
              <a href="#a" class="absec-number">684 562 21 47</a>
              <a href="#a" class="absec-email">???@gmail.com</a>
            </div>
          </div>
        </div>
      </section>
      <%- include("_choose-service") %> <%- include("../include/_blog") %> <%-
      include("../include/_what") %>
    </main>

    <%- include("../include/footer") %>
    <script src="/js/script.js"></script>
  </body>
</html>
