<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dry Van</title>
    <link rel="stylesheet" href="/css/truck.css" />
    <%- include('../include/links', {fileCss: "services-following"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'truck', page: `Dry Van`,
    navPageMore: true, navPageLink: "trucks", navPage: "Trucks"}) %>

    <main id="trucks-more" class="main main-dryVan">
      <section class="dispatch">
        <div class="container">
          <%- include('_dispatch-row', {title: `Dry Van`}) %>
          <div class="truck-row">
            <div class="truck-img">
              <img src="/img/trucks/img1.jpg" alt="" />
            </div>
            <div class="truck-text">
              <h2>
                Our Dry Van Dispatch Service — Supporting You as You Do Your
                Best Out on the Road
              </h2>
              <br />
              <h3>
                Negotiating a fair truck driver hourly rate for freelance
                logistics drivers and truck owner-operators across the country
              </h3>
              <br />
              <p>
                Dry vans provide a huge benefit to clients across the United
                States, keeping their goods and safe and sound while they are
                out on the roads. With protection from wind, rain and other
                elements, dry van units and drivers make an enormous
                contribution to the logistics operations that power our country.
                <br />
                To achieve the best for your clients, you need a friendly,
                honest dry van dispatcher to support your efforts. This is where
                Logity Dispatch comes in — we have spent years building great
                relationships with drivers, providing a solid foundation so they
                can get on with what they do best.
              </p>
            </div>
          </div>
          <div class="truck-text">
            <h2>
              The Logity Dry Van Dispatch Service — Providing an Honest and
              Reliable Experience
            </h2>
            <br />
            <p>
              Here at Logity Dispatch, we aim to become your partner, providing
              dispatch services in an honest, friendly, and fully transparent
              manner. Take a look at some of the factors that keep our clients
              coming back to us.
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                A personal approach to dispatching — You are our client, so we
                strive to meet your needs. If you experience any problems with
                our service, you will benefit from our culture of positive
                communication and transparency. Simply tell us what’s bothering
                you, and we will do our best to put it right.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Honesty, every step of the way — We can back up all the advice
                and guidance we give you. We do not make empty promises, so you
                know what you are dealing with each and every time.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Formidable experience in this field — When you work with our
                team, you benefit from extensive experience in the dispatch and
                logistics market, as well as a highly professional attitude to
                what we do.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Streamlined, efficient processes — We understand that you have a
                job to do, and you don’t want any hang-ups preventing you from
                doing this. With this in mind, we developed streamlined
                processes that keep your dry van on the road, stress-free.
              </li>
            </ul>
            <br />
            <p>
              Reach out to our team for a quote or to learn more about what we
              offer.
            </p>
            <div class="absec-btns">
              <a href="#a" class="absec-contact">Contact Us</a>
              <a href="#a" class="absec-number">684 562 21 47</a>
              <a href="#a" class="absec-email">???@gmail.com</a>
            </div>
          </div>
        </div>
      </section>
      <%- include("_choose-service") %> <%- include("../include/_blog") %> <%-
      include("../include/_what") %>
    </main>

    <%- include("../include/footer") %>
    <script src="/js/script.js"></script>
  </body>
</html>
