<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step Deck</title>
    <link rel="stylesheet" href="/css/truck.css" />
    <%- include('../include/links', {fileCss: "services-following"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'truck', page: `Step
    Deck`, navPageMore: true, navPageLink: "trucks", navPage: "Trucks"}) %>

    <main id="trucks-more" class="main main-stepDeck">
      <section class="dispatch">
        <div class="container">
          <%- include('_dispatch-row', {title: `Step Deck`}) %>
          <div class="truck-row">
            <div class="truck-img">
              <img src="/img/trucks/img2.jpg" alt="" />
            </div>
            <div class="truck-text">
              <p>
                When it comes to hauling with step deck (also known as “drop
                deck”) trailers, it truly is “go big or go home.” It is a big
                responsibility to transport oversize and over-height cargo,
                never mind having to jump through logistical and organizational
                hoops to keep your business afloat.
                <br />
                <br />
                How can you concentrate on getting these large loads where they
                need to be safely and on time if a big chunk of your day is
                spent looking for and assessing prospective loads, haggling over
                prices and rates, generating and completing
              </p>
            </div>
          </div>
          <div class="truck-text">
            <h2>Logity Steps Up the Step Deck Dispatch</h2>
            <br />
            <p>
              Since our inception in 2015, we at Logity have had one overarching
              goal: to help our clients in the trucking industry make more
              money. This is achieved through comprehensive stepdeck dispatch
              services, including price negotiations, detailed searches,
              up-to-the-minute liaising, and proficient document management. We
              choose to work with our clients to achieve their business goals —
              never forcing clients to accept loads they don’t want to and being
              honest about expectations and industry reality. We aren’t here to
              run your business; we’re here to help you run your own business
              better.
            </p>
            <br />
            <p>
              Apart from saving you valuable time so you can accumulate more
              runs, our step deck dispatch services actually cost a lot less
              than you would expect — certainly less than hiring your own
              in-house, full-time dispatchers. In many cases, even less
              expensive than hiring just one dispatcher. The money you save just
              from office rentals and talent recruitment could be funneled back
              towards other overhead and help to support your bottom line.
            </p>
            <br />
            <h2>Honest Step Deck Support</h2>
            <br />
            <p>
              Logity Dispatch lives in the real world, just like you, so we give
              real-world information with no embellishments or empty promises.
              We treat you the way we want our business partners to treat us.
              Give us a call or <a href="#a">contact us</a> online, and find out
              how we can work together to step up your business.
            </p>
            <div class="absec-btns">
              <a href="#a" class="absec-contact">Contact Us</a>
              <a href="#a" class="absec-number">684 562 21 47</a>
              <a href="#a" class="absec-email">???@gmail.com</a>
            </div>
          </div>
        </div>
      </section>
      <%- include("_choose-service") %> <%- include("../include/_blog") %> <%-
      include("../include/_what") %>
    </main>

    <%- include("../include/footer") %>
    <script src="/js/script.js"></script>
  </body>
</html>
