<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Straight Truck</title>
    <link rel="stylesheet" href="/css/truck.css" />
    <%- include('../include/links', {fileCss: "services-following"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'truck', page: `Straight
    Truck`, navPageMore: true, navPageLink: "trucks", navPage: "Trucks"}) %>

    <main id="trucks-more" class="main main-straightTruck">
      <section class="dispatch">
        <div class="container">
          <%- include('_dispatch-row', {title: `Straight Truck`}) %>
          <div class="truck-row">
            <div class="truck-img">
              <img src="/img/trucks/img8.jpg" alt="" />
            </div>
            <div class="truck-text">
              <h2>Straight Truck and Van Dispatch</h2>
              <br />
              <p>
                You love driving, and you love achieving great results for your
                customers. You might not love other aspects of the logistics
                trade, though. This is where Logity Dispatch makes all the
                difference.
              </p>
              <br />
              <p>
                We offer straight truck dispatch services that meet the needs of
                logistics operations all over the U.S. From our base in
                Wilmington, Delaware, we help drivers and delivery organizations
                across the country to meet the often complex needs of their own
                customers. Whether you operate a small fleet or are a straight
                truck owner-operator, we have the service package to support
                you.
              </p>
            </div>
          </div>
          <div class="truck-text">
            <p>
              There are other dispatching companies for straight truck
              owner-operators out there, but we pride ourselves on delivering
              the very best services. How can we guarantee this? Because we know
              the market. We understand straight truck logistics, and we
              recognize what drivers and other logistics professionals need to
              perform at their best.
            </p>
            <br />
            <p>
              We also want to help you grow your capability and money-making
              potential. This is why we streamline the whole process for you,
              supporting a much more efficient, much more effective, much better
              way of doing things. You’re going to love working with Logity
              Dispatch, and your customers are going to love working with you
              too.
            </p>
            <br />
            <h3>
              What to Expect from Our Straight Truck and Van Dispatch Service
            </h3>
            <br />
            <p>
              We’re on your side, driving real results for your straight truck
              and van business. This means you rely on us to offer dispatch
              services that help you grow your business in a way that suits you.
              But what does this mean in practice? What does the Logity Dispatch
              service look like for your business? Here’s what to expect:
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                A dispatch service geared towards client satisfaction – Make
                sure those customers choose you and keep on choosing you in the
                future.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Growing revenue, thanks to great straight truck jobs that suit
                your needs – We provide a diverse range of jobs to drivers just
                like you.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                An agile service – Take as many or as few jobs as you want,
                thanks to our commitment-free, flexible service.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Transparent pricing every step of the way – We don’t believe in
                dishonesty or nasty surprises, just clear and honest pricing.
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                An ongoing relationship that delivers the goods – We want to
                partner with you in the long term, so you can rely on us to keep
                our promises.
              </li>
            </ul>
            <br />
            <p>
              Ready to get started with our straight truck and van dispatch
              services? It’s easy to sign up. Just use the form right here on
              the page. If you’d like to learn more about what we do, give us a
              call.
            </p>
            <br />
            <h2>
              Get Started With Straight Truck and Van Dispatch Services Today
            </h2>
            <br />
            <p>
              Ready to begin? Simply use the form here on the page, or call our
              team directly at +1 (210) 963-52-08. In just a few short steps,
              you can start enjoying the benefits of our straight truck dispatch
              services.
            </p>
            <div class="absec-btns">
              <a href="#a" class="absec-contact">Contact Us</a>
              <a href="#a" class="absec-number">684 562 21 47</a>
              <a href="#a" class="absec-email">???@gmail.com</a>
            </div>
          </div>
        </div>
      </section>
      <%- include("_choose-service") %> <%- include("../include/_blog") %> <%-
      include("../include/_what") %>
    </main>

    <%- include("../include/footer") %>
    <script src="/js/script.js"></script>
  </body>
</html>
