<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Truck Dispatching</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <%- include('../include/links', {fileCss: "services-following"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'dispatch', page: `Truck
    Dispatching`, navPageMore: true, navPageLink: "services", navPage:
    "Services"}) %>

    <main id="services-more" class="main main-dispatching">
      <section class="dispatch">
        <div class="container">
          <div class="dispatch-row">
            <div class="dispatch-col-left">
              <div class="title dispatch-title">Truck Dispatching</div>
              <div class="dispatch-col-list">
                <div class="dispatch-col-li icon-check">
                  No forced dispatch and hidden payments
                </div>
                <div class="dispatch-col-li icon-check">
                  Personal dispatcher with 24 / 7 support
                </div>
                <div class="dispatch-col-li icon-check">From 5% of gross</div>
              </div>
            </div>
            <div class="dispatch-form-wrapper">
              <%- include("../include/_form") %>
            </div>
          </div>
          <div class="dispatch-text">
            <h2>
              Truck Dispatching: Keeping Your Business Moving So You Can Focus
              on Driving
            </h2>
            <br />
            <p>
              Here at Logity Dispatch, we are proud to be the truck dispatcher
              company you can rely on.
            </p>
            <br />
            <p>
              Your truck driving and logistics business needs to be supported by
              the right truck driver dispatcher services. This is where Logity
              Dispatch can make all of the difference.
            </p>
            <br />
            <p>
              Based out of Wilmington, Delaware, we provide these services to
              trucking operators across the country. This means you can continue
              providing your critical trucking services, supporting our society
              and our economy with your logistics.
            </p>
            <br />
            <p>
              Get in touch with us by email or by telephone to get started. Our
              team is on hand to provide you the quote you need for your
              business, and to help you learn more about working with Logity
              Dispatch. Supporting your trucking operation is our passion.
            </p>
            <br />
          </div>
        </div>
      </section>
      <%- include("../include/_what") %> <%- include("_choose-truck") %> <%-
      include("../include/_how") %>
      <section class="expect">
        <div class="container">
          <div class="expect-img">
            <img src="/img/dispatching/img.jpg" alt="" />
          </div>
          <div class="expect-text">
            <h2>What to Expect from Our Truck Dispatch Services</h2>
            <br />
            <p>
              You need to be able to rely on regular dispatch and route
              organization services. With this in mind, we have crafted a <br />
              suite of dispatch services, supported by the innovations that
              American truck drivers are looking for. Let us be your <br />
              trusted operators so that you can get on with what you do best.
            </p>
            <p>Here's what you can expect when you work with us:</p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Swift and clear truck dispatch to support your business
              </li>
            </ul>
            <br />
            <p>
              Increasingly, logistics relies upon swift turnarounds and
              real-time communication. Our licensed dispatchers can provide
              <br />
              this and then some, giving you the kind of foundation you need to
              get the job done in the right way. You will enjoy <br />
              working with our team who works to iron out frustrations and to
              get you on the way sooner rather than later.
              <br />
              <br />
              Contented clients who are over the moon with your service
              <br />
              Your responsibilities to your client base are crucial to your
              success as a trucker or owner operator. You want to keep
              <br />
              these clients happy, going above and beyond their expectations in
              terms of pickup and delivery speed and quality. We
              <br />
              recognize this, so we work to help you build that reputation in
              the right way.
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                A reliable stream of revenue
              </li>
            </ul>
            <br />
            <p>
              Reliable dispatching means reliable jobs, and reliable jobs mean
              reliable revenue. Build your business and keep that
              <br />
              income flowing in with truck dispatching services that suit your
              needs and those of your clients. Get the peace of mind
              <br />
              you need to run your trucking operation without the stress.
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                The opportunity to scale and grow your business
              </li>
            </ul>
            <br />
            <p>
              Dispatching helps you to get the best from your business both in
              the short and long term. You will quickly be able to
              <br />
              ascertain the demand for your services and plan your scaling and
              growth accordingly. You will also be able to recognize
              <br />
              untapped opportunities and other areas for development.
              <br />
              A hassle-free process every step of the way
              <br />
              Tasks such as truck driver dispatch and administration tend to get
              in the way of the actual driving and delivery parts
              <br />
              of your operation. However, this does not need to be the case. We
              deliver you a hands-off, hassle-free experience with
              <br />
              minimized stress and anxiety. This means you can focus on your
              driving and on supplying the very best service possible
              <br />
              without any additional worry.
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                The right relationship for you and your business
              </li>
            </ul>
            <br />
            <p>
              We don’t believe in treating our clients just as names and numbers
              on a shipping manifest. Instead, we understand that
              <br />
              the needs of our clients are unique, so we work to get to know
              those needs. This allows us to provide the right kind of
              <br />
              service to you, so you can be assured that we have your best
              interests at heart.
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Transparent pricing that suits you
              </li>
            </ul>
            <br />
            <p>
              Our team is committed to helping you and your operation. This is
              why our truck freight dispatch service includes
              <br />
              transparent pricing that you can believe in. This means you can
              plan your trucking operations without worrying about how
              <br />
              much our services will cost you.
            </p>
          </div>
          <div class="expect-row">
            <div class="expect-col">
              <img src="/img/dispatching/choose-img1.jpg" alt="img" />
            </div>
            <div class="expect-col">
              <img src="/img/dispatching/choose-img2.jpg" alt="img" />
            </div>
          </div>
          <div class="expect-text">
            <h2>Get Started with Logity Dispatch Today</h2>
            <br />
            <p>
              Reach out to our team today and get a quote or discover more about
              how our dispatch services go above and beyond your requirements.
              Use the contact details below and get in touch with our team by
              phone or email.
              <br />
              <br />
              We are all about taking care of details such as truck dispatching.
              This means you just need to focus on driving and delivery.
            </p>
          </div>
        </div>
      </section>
      <%- include("../include/_can") %> <%- include("../include/_reviews") %>
      <%- include("../include/_faq") %> <%- include("../include/_blog") %>
    </main>

    <%- include("../include/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script type="module" src="/js/faqQuestions.js"></script>
  </body>
</html>
