<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Formation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <%- include('../include/links', {fileCss: "services-following"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'formation', page:
    `Company Formation`, navPageMore: true, navPageLink: "services", navPage:
    "Services"}) %>

    <main id="services-more" class="main main-formation">
      <section class="dispatch">
        <div class="container">
          <div class="dispatch-row">
            <div class="dispatch-col-left">
              <div class="title dispatch-title">Company Formation</div>
              <div class="dispatch-col-list">
                <div class="dispatch-col-li icon-check">
                  Filing the Certificate of Incorporation
                </div>
                <div class="dispatch-col-li icon-check">
                  Title for trailer and trailer registration
                </div>
                <div class="dispatch-col-li icon-check">
                  Help with all the fillings and documents
                </div>
              </div>
            </div>
            <div class="dispatch-form-wrapper">
              <%- include("../include/_form") %>
            </div>
          </div>
          <div class="dispatch-text">
            <h2>Company formation</h2>
            <br />
            <p>
              So you’ve decided that you want to work in the trucking industry.
              You love to drive. You love to help people and businesses. You
              want to be an integral part of today’s economy. You want to start
              up a trucking company but don’t quite know how, or you are
              familiar with the process but want some support to ensure that you
              do everything right. Logity Dispatch is here to help. We can help
              you create the company, register your trailers and vehicles, and
              get all the necessary documents and paperwork to get you up and
              running. We’re happy to support you, whatever stage in the process
              you are.
            </p>
            <br />
            <h2>Creating the Company</h2>
            <br />
            <p>
              When creating your company, there are a number of steps to take
              according to the General Corporation Code, including:
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Picking the company’s name and carrying out a business name
                check
              </li>
              <br />
              <li>
                <span class="icon-check icon-check-expect"></span>
                Choosing a type of corporation based on your business model and
                structure — sole proprietorship, general partnership, limited
                partnership, corporation, and limited liability company are the
                most common
              </li>
              <br />
              <li>
                <span class="icon-check icon-check-expect"></span>
                Filing the Certificate of Incorporation
              </li>
              <br />
              <li>
                <span class="icon-check icon-check-expect"></span>
                Appointing a registered agent, preparing corporate bylaws,
                appointing directors, and holding the first board meeting
              </li>
            </ul>
            <br />
            <p>
              While we can’t provide legal advice, we can certainly help you
              handle all the filings and documents.
            </p>
          </div>
        </div>
      </section>
      <%- include("../include/_what") %> <%- include("_choose-truck") %> <%-
      include("../include/_how") %>
      <section class="expect">
        <div class="container">
          <div class="expect-img">
            <img src="/img/formation/img1.jpg" alt="" />
          </div>
          <div class="expect-text">
            <h2>Title For Trailer and Trailer Registration</h2>
            <br />
            <p>
              Whether you buy or lease them for your business, all trailers must
              be titled in Delaware and registered. Only then will the state
              permit them on highways.
            </p>
            <br />
            <h2>How to Get a Title for a Trailer</h2>
            <br />
            <p>
              The title for the trailer process typically starts at the DMV —
              but you can fill in forms online to save time. If you have
              purchased or leased the trailer, the prior owner/seller or lessor
              should have completed a transfer of title into your name. This is
              proof that you own the trailer. If you bought the trailer brand
              new from the manufacturer or dealership, you will need to fill out
              a title application.
            </p>
            <br />
            <h2>Registering Your Trailer</h2>
            <br />
            <p>
              Trailer registration is simply a matter of providing the DMV proof
              of ownership (the title or bill of sale of your trailer) and
              filling out the registration application. You will, however, have
              to prove that you have paid all applicable taxes and obtained the
              proper insurance for your trailer.
            </p>
          </div>
          <div class="expect-col">
            <img src="/img/formation/img2.jpg" alt="img" />
          </div>
          <div class="expect-text">
            <h2>How Much Does Title and Registration Cost for Trailer</h2>
            <br />
            <p>
              Assuming there is no lien on your trailer, the fee for the title
              is $55. The yearly registration cost for trailers — going by
              weight — is as follows: $15 for up to 1,000 pounds; $20 for 1,001
              to 2,000 pounds, $40 for 2,001 to 5,000 pounds; and for trailers
              weighing more than 5,000 pounds, there is an additional $18 for
              every 1,000 pounds.
            </p>
            <br />
            <p>
              Note that if you are going to move loads through different states,
              you will need to obtain “apportioned registration.” You complete
              this registration in your home state so that you can hop through
              other jurisdictions without having to get multiple permits or
              registrations. You pay fees everywhere you operate, proportional
              to however many miles you log in each state.
            </p>
            <br />
            <h2>Heavy Highway Vehicle Use Tax</h2>
            <br />
            <p>
              In addition to your regular business taxes, as a carrier, you will
              need to remit a heavy highway use tax return to the IRS every
              year. This tax applies to operations involving vehicles with a
              gross weight of 55,000 pounds or more on public highways.
            </p>
            <br />
            <p>
              <a href="#a">Heavy Highway Vehicle Use Tax return</a> or HVUT is a
              yearly federal tax paid to the IRS for operating heavy vehicles at
              a gross weight of 55,000 pounds or more on public highways.
            </p>
            <br />
            <p>
              Taxable vehicle gross weight is calculated as follows: (1) the
              fully equipped, unloaded vehicle weight; (2) the fully equipped
              trailer or semi-trailer; and (3) the maximum load weight carried
              on the vehicle and attached trailer or semi-trailer.
            </p>
            <br />
            <h2>How to Check Driver Record</h2>
            <br />
            <p>
              If you are going to be hiring drivers for your trucking business,
              you will request a motor vehicle record check for each person.
              There are two ways to get a motor vehicle driving record of
              someone other than yourself: in person or via mail. You can choose
              to obtain a three-year, five-year, or full driver record, and each
              report will cost you $25.Any questions about the process, or want
              to know how Logity Dispatch can get your business on the road?<a
                href="#a"
                >Contact us</a
              >
              today
            </p>
          </div>
        </div>
      </section>
      <%- include("../include/_can") %> <%- include("../include/_reviews") %>
      <%- include("../include/_faq") %> <%- include("../include/_blog") %>
    </main>

    <%- include("../include/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script type="module" src="/js/faqQuestions.js"></script>
  </body>
</html>
