<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IFTA</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <%- include('../include/links', {fileCss: "services-following"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'ifta', page: "IFTA",
    navPageMore: true, navPageLink: "services", navPage: "Services"}) %>

    <main id="services-more" class="main main-ifta">
      <section class="dispatch">
        <div class="container">
          <div class="dispatch-row">
            <div class="dispatch-col-left">
              <div class="title dispatch-title">IFTA</div>
              <div class="dispatch-col-list">
                <div class="dispatch-col-li icon-check">
                  Full transparency for you and your customers
                </div>
                <div class="dispatch-col-li icon-check">
                  Straightforward route to IFTA Fuel Report Compliance
                </div>
                <div class="dispatch-col-li icon-check">
                  Support for truckers and motor carriers
                </div>
              </div>
            </div>
            <div class="dispatch-form-wrapper">
              <%- include("../include/_form") %>
            </div>
          </div>
          <div class="dispatch-text">
            <h2>IFTA Reporting</h2>
            <br />
            <p>
              When trucking and transport companies need to move through and do
              business in more than one state and in Canada, it would paralyze
              business to have to calculate fuel taxes and to obtain permits for
              each and every one. The International Fuel Tax Agreement allows
              truckers to work under one license and to file one report to cover
              48 U.S. states and all the Canadian provinces (territories are not
              members).
            </p>
            <br />
            <p>
              This dramatically increases the possibilities for drivers out in
              the field. Rather than undergoing lengthy and inefficient
              application processes in each state and province, drivers now have
              streamlined access to the whole of the continental United States
              and most of Canada, thanks to the IFTA tax report. The power to
              service the needs of clients, right across this vast area, is now
              directly in the hands of drivers.While more convenient than the
              way things were before, the process still has important reporting
              requirements that trucking companies cannot overlook.
            </p>
          </div>
        </div>
      </section>
      <%- include("../include/_what") %> <%- include("_choose-truck") %> <%-
      include("../include/_how") %>
      <section class="expect">
        <div class="container">
          <div class="expect-img">
            <img src="/img/ifta/img1.jpg" alt="" />
          </div>
          <div class="expect-text">
            <h2>How the Streamlined Process Works</h2>
            <br />
            <p>
              Businesses with an IFTA license continue to buy fuel as usual but
              are “credited” with whatever fuel taxes they have paid. For every
              fiscal quarter (by the end of April, July, October, and January
              every year), they submit an IFTA fuel tax report, which lists how
              much they have traveled and how much fuel was purchased in every
              IFTA jurisdiction. The tax liabilities to each jurisdiction is set
              by applying a formula that incorporates the average fuel mileage.
              You end up with a list of what has been already paid to each
              member state/province, and whether you owe more or have overpaid.
              Your base jurisdiction (that is, where you got your carrier’s
              license) refunds you if you have overpaid and receives any amounts
              owing — then transfers funds to/from the other members. As you can
              see, the scheme relies heavily on the quarterly report that the
              carrier must submit.
            </p>
          </div>
          <div class="expect-row">
            <div class="expect-col">
              <img src="/img/ifta/img2.jpg" alt="img" />
            </div>
            <div class="expect-col">
              <img src="/img/ifta/img3.jpg" alt="img" />
            </div>
          </div>
          <div class="expect-text">
            <h3>Who Needs/Gets an IFTA License?</h3>
            <br />
            <p>
              Do you need to file an IFTA fuel tax report and apply for the IFTA
              license? Not all vehicles are subject to this requirement, and
              most drivers can move between states and provinces with ease,
              without the need for additional licensing and reporting. The IFTA
              applies to commercial vehicles in specific classes or vehicles
              designated for particular use cases.
            </p>
            <br />
            <p>If your vehicle:</p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                is used to transport people or property
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                has three or two axles as well as an actual or registered gross
                vehicle weight that exceeds 26,000 lbs. (11,797 kgs) — or if in
                combination the actual or registered gross vehicle weight is
                more than 26,000 lbs. (11,797 kgs)
              </li>
            </ul>
            <br />
            <p>
              Then it is qualified under the Act, and you must submit the IFTA
              quarterly fuel report.
            </p>
            <br />
            <h3>Penalties</h3>
            <br />
            <p>
              Failure to file the trip report, late filing, and underpaying can
              attract a penalty that works out to the greater of 10% of the
              amount owing or $50. Note that interest will be applied to the
              amount owing to each member jurisdiction.
            </p>
            <br />
            <h2>Logity Dispatch IFTA Report Service</h2>
            <br />
            <p>
              Since jurisdictions set their own rates, the system revolves
              around properly completed IFTA reports. Failure to follow the
              requirements not only has the potential to be quite costly to you
              if you owe fuel taxes in any member jurisdiction, but it can also
              affect the reputation of your business. For many trucking
              companies, even though you can complete and file a lot of the
              required paperwork and the report online, all of this tedious
              administrative stuff takes up valuable time the business would
              rather focus on actually driving and making money. That’s why
              Logity Dispatch is happy to take the IFTA reporting requirement
              off your hands.
            </p>
            <br />
            <p>
              This is what the IFTA Fuel Tax Reporting Service from Logity
              Dispatch is all about. We believe in making life easy for our
              clients and taking away many of the obstacles they face when they
              head out on the road. We understand that you love to drive and
              provide great results for your customers — this is the way you
              make your living. You didn’t get into truck driving because you
              love applying for permits and filing fuel tax reports.
            </p>
            <br />
            <p>Here’s what you can expect from our services.</p>
            <br />
            <h3>
              A Way to Save Money for Your Business and Protect Your Profits
            </h3>
            <br />
            <p>
              When properly submitted, the IFTA fuel report can see you and your
              business saving money on your fuel tax, as well as saving time and
              hassle. With Logity Dispatch on your side, you don’t have to worry
              about overpaying on fuel tax, as we will make sure everything is
              handled in the correct and proper manner. You’ll find running your
              business much easier, and you’ll also be able to protect your
              profits in the process.
            </p>
            <br />
            <h3>Full Transparency for You and Your Customers</h3>
            <br />
            <p>
              Your business relies upon great communication with your customers.
              These customers want to know what is going on at all times, and
              they don’t expect any delays and hang-ups to get in the way.
              Applying for permits and submitting tax reports can make it
              difficult to achieve this, which is why truck drivers find our
              services so valuable. You’ll love the enhanced transparency and
              understanding, too.
            </p>
            <br />
            <h3>A “Hands-Off” Service from Your Point of View</h3>
            <br />
            <p>
              Just like we mentioned above, the IFTA rules provide a much more
              straightforward situation than the old way of doing things.
              However, there are still considerations and issues that need to be
              taken into account. Let us handle those issues for you, providing
              a fully “hands-off” service that leaves you free to focus on other
              aspects of running your business.
            </p>
            <br />
            <h3>A Straightforward Route to IFTA Fuel Report Compliance</h3>
            <br />
            <p>
              Compliance is always a major concern for drivers. You don’t want
              an incident of non-compliance to harm your business and
              livelihood, and you don’t want to experience the stress of
              constantly wondering whether you are operating within the bounds
              of rules and regulations. With the Logity Dispatch service, you
              can be assured that you are fully compliant every step of the way.
              So all you need to worry about is driving.
            </p>
            <br />
            <h3>
              A Knowledgeable Team Ready to Support You with Your IFTA Quarterly
              Fuel Tax Report
            </h3>
            <br />
            <p>
              You need to know that you can rely on a skilled and expert team to
              provide you with the necessary support out on the road. If you
              have any questions or queries about the IFTA quarterly report, we
              are here for you, and ready to answer them.
            </p>
            <br />
            <p>
              These are just some of the factors that make our IFTA fuel tax
              reporting services so valuable to truck drivers across the USA and
              beyond. We make sure that the IFTA requirements provide the
              advantages and benefits they are designed to, rather than causing
              additional hassle to you and your business.
            </p>
            <br />
            <h3>Supporting Truckers and Motor Carriers</h3>
            <br />
            <p>
              Logity Dispatch was created for one purpose: to help trucking
              businesses earn more money. We help our clients increase their
              profit by:
            </p>
            <br />
            <ul>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Finding the best loads and load rates over numerous databases
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Negotiating the best rates for loads
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Freeing up valuable time for clients to actually do the work
                that makes them money
              </li>
              <li>
                <span class="icon-check icon-check-expect"></span>
                Providing a cost-effective alternative to in-house dispatch and
                administrative services
              </li>
            </ul>
            <br />
            <p>
              Most clients love our comprehensive services — dispatch,
              paperwork, and compliance, among other things — knowing that with
              our extensive industry experience, we’ve got their back. Other
              clients prefer more piecemeal services. We believe you know your
              business best, so whether you want the benefit of all Logity
              Dispatch services or just have us onboard for IFTA requirements,
              we are happy to provide the support you deserve.
            </p>
          </div>
        </div>
      </section>
      <%- include("../include/_can") %> <%- include("../include/_reviews") %>
      <%- include("../include/_faq") %> <%- include("../include/_blog") %>
    </main>

    <%- include("../include/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script type="module" src="/js/faqQuestions.js"></script>
  </body>
</html>
